<style>
      #cd-hamburger-menu a {
    background: red url("assets/img/cd-hamburger-menu.svg") no-repeat center center;
  }
</style>
<header>
    <div id="logo"><img src="assets/logogrow.png" class="rien" alt="Homepage"></div>

    <div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
</header>

<nav id="main-nav">
    <ul>
        <!-- <li><a href="#0" >Home</a></li>
        <li><a href="#0">About</a></li> -->
        <li><a class="current" href="#0">Cours en ligne</a></li>
        <li><a href="#0">En savoir plus</a></li>
        <li><a href="#0">Se connecter</a></li>
    </ul>
</nav>

<!-- <main>

</main> -->

<!-- <div id="cd-shadow-layer"></div> -->